/*
Navbar
*/

.navbar {
    transition: all 0.4s;
    background: #44505900;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #9df;
    text-decoration: none;
    font-size: 25px;
}

.navbar .navbar-brand {
    color: #000;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #6d7c81;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.navbar.active .nav-link {
    color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #444;
    text-decoration: none;
    font-size:25px;
}

.navbar.active .navbar-brand {
    color: #000;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: hsla(10, 10%, 25%, 0.2);
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #000;
    }
}
#NavButton {
	color: white;
	border: 4px solid #333;
	width: 10px;
	height: 10px;
	border-radius: 8px;
}


/* Fonts for whole document*/
body {
 font-family: 'Chivo', sans-serif;
 font-weight: 400;
 padding 10px;
}

h1 {
 font-family: 'Playfair Display', serif;
 font-weight: 700;
 font-style: italic;
 color: #12232E;
 padding 10px;
}

h2, h3, h4, h5, h6 {
 font-family: 'Playfair Display', serif;
 font-weight: 600;
 color: #000;
}


/* Section styling*/

section {
  width: 100%;
  padding: 3%;
  display: table;
  margin: 0;
  max-width: none;
  color: black;
  background-color: #9aa9ae;
  height: 100vh;
  }
  section:nth-of-type(2n) {
    background-color: #c2cccf;
  }



.tab {
    
    text-align: center;
    font-family: Copperplate / Copperplate Gothic Light, Palatino Linotype, Courier;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;
    padding: 50px;    
}

ul.info {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

ul.info li{
    margin: 15px 0;
}

p.big {
    line-height: 1.7;
    font-family: 'Sora', serif;
    font-size: 18px;
}


.link { color: #004555; } 
.link:hover { color: #335555; }



/*   PHOTO GALLERY   */
div.gallery {
  border: 0px solid #ccc;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  text-align: center;
}

.gallery:hover .image {
  opacity: 0.5;
}

.gallery:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Social Media buttons*/


.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 3px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #ab0073;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}


footer.page-footer {
  margin: 0;
   background-color: gray;
}
